<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body class="container-fluid">
        <h1 class="jumbotron">
            <%= title%>
        </h1>
        <nav>
            <a class="nav" href="/task/history">Task History</a>
        </nav>

    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
